In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("C:\\Users\\tamba\\Downloads\\Data-Science-Case-Studies-And-Algorithms-master\\Data-Science-Case-Studies-And-Algorithms-master\\14. Neural Networks\\50_Startups.csv")

In [28]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [29]:
df.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [31]:
df.State.value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [33]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
df['State']= label_encoder.fit_transform(df['State'])

In [34]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [35]:
from keras.layers import Dense, Activation
from keras.models import Sequential
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [38]:
X = df.iloc[:,:-1]
y = df.iloc[:,4]

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [42]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [44]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [45]:
model = Sequential()
#Adding the input layer and the first hidden layer
model.add(Dense(32, activation='relu', input_dim = 6))

#Adding the second hidden layer
model.add(Dense(32, activation='relu'))

#Adding the third hidden layer
model.add(Dense(32, activation='relu'))

In [46]:
#Adding the output layer
model.add(Dense(1))

In [ ]:
#Compiling the ANN
model.compile(optimizer='adam', loss='mean_squared_error')

model.fit(X_train, y_train, batch_size=10, epochs=100)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
plt.plot(y_test, color='red', label='Real data')
plt.plot(y_pred, color='blue', label='Predicted data')
plt.title('Prediction')
plt.legend()
plt.show()