In [23]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [24]:
data = pd.read_csv('C:\\Users\\tamba\\Downloads\\MLPractices-master\\DataScience-Assignments-Narendra\\5. Multi linear regression\\Computer_Data.csv')

In [25]:
data.head()

   Unnamed: 0  price  speed   hd  ram  screen  cd multi premium  ads  trend
0           1   1499     25   80    4      14  no    no     yes   94      1
1           2   1795     33   85    2      14  no    no     yes   94      1
2           3   1595     25  170    4      15  no    no     yes   94      1
3           4   1849     25  170    8      14  no    no      no   94      1
4           5   3295     33  340   16      14  no    no     yes   94      1

In [26]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [27]:
data.head()

   price  speed   hd  ram  screen  cd multi premium  ads  trend
0   1499     25   80    4      14  no    no     yes   94      1
1   1795     33   85    2      14  no    no     yes   94      1
2   1595     25  170    4      15  no    no     yes   94      1
3   1849     25  170    8      14  no    no      no   94      1
4   3295     33  340   16      14  no    no     yes   94      1

In [28]:
data.cd.unique()

array(['no', 'yes'], dtype=object)

In [29]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
data['cd']= label_encoder.fit_transform(data['cd'])

In [30]:
data.head()

   price  speed   hd  ram  screen  cd multi premium  ads  trend
0   1499     25   80    4      14   0    no     yes   94      1
1   1795     33   85    2      14   0    no     yes   94      1
2   1595     25  170    4      15   0    no     yes   94      1
3   1849     25  170    8      14   0    no      no   94      1
4   3295     33  340   16      14   0    no     yes   94      1

In [31]:
data.multi.unique()

array(['no', 'yes'], dtype=object)

In [32]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
data['multi']= label_encoder.fit_transform(data['multi'])

In [33]:
data.premium.unique()

array(['yes', 'no'], dtype=object)

In [34]:
data['premium']= label_encoder.fit_transform(data['premium'])

In [35]:
data.head()

   price  speed   hd  ram  screen  cd  multi  premium  ads  trend
0   1499     25   80    4      14   0      0        1   94      1
1   1795     33   85    2      14   0      0        1   94      1
2   1595     25  170    4      15   0      0        1   94      1
3   1849     25  170    8      14   0      0        0   94      1
4   3295     33  340   16      14   0      0        1   94      1

In [36]:
y = data.iloc[:,0]
X = data.iloc[:,1:]

In [38]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [39]:

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [40]:
y_pred = regressor.predict(X)
print(y_pred)

[2020.98699158 2001.92797942 2214.29040774 ... 2938.62927243 2278.9447914
 2524.67126479]

In [43]:
regressor.score(X_train,y_train)

0.7731234272678831

In [44]:
regressor.score(X_test,y_test)

0.7842770001633772